body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    width: 95% !important;
}

.typeform {
    height: 550px;
    width: 100%;
    border: none;
    border-top: #fefffc 1px inset;
}