<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <script src="https://cdn.auth0.com/js/lock/10.14/lock.min.js"></script>
    <script>
        var lock = new Auth0Lock('{{.Auth0ClientId}}', '{{.Auth0Domain}}', { auth: {
            redirectUrl: '{{.Auth0CallbackURL}}'
        }});
        lock.show()
    </script>
    </body>
</html>